@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Nova+Round');

// Custom variables

$main-bg--color: #574E6D;
$modal-bg-clr: rgba(221, 221, 221, 0.8);
// Media queries with Mixin


@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}



.App{
  height: 100%;
  overflow-y: hidden;
 
  font-family: "Patrick Hand SC", sans-serif;
  // font-family: "Nova Round", sans-serif;
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  header {
    background-color: $main-bg--color;
    justify-content: space-between;
  
    padding: 0.6em;

    .username{
      margin-left: auto;
      margin-right: 2vw;
      h2{
        color: #DDDDDD;
      }
    }

    .logo-container {
      width: 350px;
      min-width: 30vw;
      :hover{
        cursor: pointer;
      }
    }
    
  
    

    .user-btn > button{
      color: #DDDDDD;
      background-color: #43405D;
      border: none;
      border-radius: 25px;
      font-weight: bold;
      padding: 10px;
      cursor: pointer;
     
      :hover{
      background-color: #55526e;
    }
    }
    
  }

  // we need two major sections, one for the main page, one for a login page

  //Login/Register page
  .login-container {
    height: 100%;
    // margin-top: 10em;
        
      form {
        border: 1px solid black;
        border-radius: 28px;
        min-width: 25%;
        padding: 2em;
        gap: 12px;
        
        .form-header {
        
          color: #f5f5f5;
          font-size: 30px;
          text-align: center;
        }
  
        input {
          padding: 7px;
          border: none;
          border-radius: 25px;
        }
  
        button {
          color: #DDDDDD;
          background-color: #43405D;
          border: none;
          border-radius: 25px;
          padding: 5px;
          cursor: pointer;
        }
  
        button:hover{
          background-color: #55526e;
        }
        .form-error-text {
          text-align: center;
          font-size: 10px;
          color: rgb(255, 67, 67);
        }
      }
    
  }

  // Main page ; App
  // Inside of Main page: User Favourites, Main Section 
  // Inside of Main section: Searchbar, Results Grid
  
  main{
    height: 100%;
    flex-wrap: wrap;

    // flex-shrink: 1;
    
    .fav-container{
      background-color: #55526e;
      flex: 1;
      
      .fav-header{
        align-self: center;
        padding-bottom: 20px;
        
        .favourite-filter{
          padding-top: 2%;
          text-align: center;
        }
      }

      .fav-books{
        flex-wrap: wrap;
        justify-items: center;
        padding-top: 5%;
        width: 100%;

        padding-left: 5%;
        padding-right: 5%;

        margin-bottom: 10%;
        
        .errorText{
          margin-left: auto;
          margin-right: auto;
        }

        .book{
          // background-color: #4B586E;
          // color: #DDDDDD;
          width: 230px;
          margin: 2%;
          outline-style: solid;

          display: grid;
          grid-template-rows: 60% 8% 8% 8% 8% 8%;
          border-radius: 7px;

          padding: 0px;
          opacity: 90%;
          transition: opacity 0.2s;
          
          background-color: #43405D;
          color: #DDDDDD;


          
          img{
            width: 100%;//150 by 221
            height: 100%;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
          }

          h2{
            padding: 0px;
            font-size: 80%;
            margin-left: 4%;
            margin-top: 2%;
            margin-bottom: 0px;
          }
            
          .filter-buttons{
            
            background-color: #43405D;
            height: 100%;

            button{
              height: 100%;
              width: 50%;
              background-color: transparent;
              background-repeat: no-repeat;
              border: none;
              outline: none;
              cursor: pointer;
              color: #DDDDDD;
              border-bottom-left-radius: 7px;
              border-bottom-right-radius: 7px;
              z-index: 1000;
              align-self: flex-end;
              
            }
          }
          
          .fav-button {
            grid-row: 6/7;
            width: 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            outline: none;
            cursor: pointer;
            color: #DDDDDD;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            z-index: 1000;
            align-self: flex-end;

            transition: background-color 0.2s;
            :hover{
              background-color: rgb(34, 37, 37);
            }
          }  
}
      }

    }
    
    
    .main-section{
      height: 100%;
      flex: 2;
  
      .search-form{
        box-sizing: border-box;
        
        input {
          border-radius: 25px;
          padding: 10px;
          width: 35%;
          
        }
        .search-btn {
         width: 30px;
          background: transparent;
          outline: none;
          border: none;
          margin-left: -35px;
          cursor: pointer;
        }

        .page-btns{
          button{
            background-color: none;
          }
        }
      }



      .search-results{
        height: 100vh;
        overflow-y: scroll;

        justify-content: space-around;
        flex-wrap: wrap;

        .book{
          // background-color: #4B586E;
          // color: #DDDDDD;
          margin: 2%;
          outline-style: solid;

          display: grid;
          grid-template-rows: 60% 15% 15% 10%;
          border-radius: 7px;

          padding: 0px;
          opacity: 90%;
          transition: opacity 0.2s;
          
          background-color: #43405D;
          color: #DDDDDD;

          width: 200px;

          
          img{
            width: 100%;//150 by 221
            height: 100%;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
          }

          h2{
            padding: 0px;
            font-size: 80%;
            margin-left: 4%;
            margin-top: 2%;
            margin-bottom: 0px;
            -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);      
          }
          
          button {
            width: 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            outline: none;
            cursor: pointer;
            color: #DDDDDD;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            z-index: 1000;
            align-self: flex-end;

            transition: background-color 0.2s;
          }

          button:hover{
            background-color: rgb(34, 37, 37);
          }
        }
      }
    }

    
  }
}

#logo{
  cursor: pointer;
}

.modal{
  margin-right: auto;
  margin-left: auto;
  background-color: $modal-bg-clr;
  border-radius: 2%;
  width: 70%;
  padding: 2%;
  image{
    width: 400px;
  }
}

// Utility Classes



.flex {
  display: flex;
}

// Flex rows
.flex-center-ja {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-j {
  display: flex;
  justify-content: center;
}

.flex-center-a {
  display: flex;
  align-items: center;
}

// Flex columns 

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center-ja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-center-j {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-column-center-a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

